.center-container-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Ocupa 100% da altura da viewport */
}


.product-list-show {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
}

